/* CSS Reset */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
  }
  

body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Arial', sans-serif; /* Set a default font-family if needed */
  }
  
  #root {
	display: flex;
	flex-direction: column;
  }